/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel {
    margin-top: 50px;
}

.carousel-inner {
    height: 100px;
}

.carousel-caption {
    color: #fff;
    top: 50%;
}



.navtitle:hover {
    color: blueviolet;
}