* {
    box-sizing: border-box;
}

.descrip {
    text-transform: none;

}

.descrip-box {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title2 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}

.title21 {

    text-overflow: ellipsis;
    text-transform: none;
    white-space: wrap;
    overflow: hidden;


}

p {
    word-wrap: break-word;
}